{% extends 'base.html' %}
{% load static %}
{% block meta_description %} Dento contact information {% endblock %}
{% block title %} Contact Us {% endblock %}
{% block content %}


  {% if message_name %}
  <br/><br/></br>
  <center>
    <h2>
      Thank you {{ message_name }}!
    </h2>
    <p>We have received your email and will respond you shortly.....</p>
  </center>
  <br/><br/><br/>

  {% else %}
  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">
            <form action="{% url 'contact' %}" method="POST" >
              {% csrf_token %}
              <div class="form-row">
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Your Name" name="message-name" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Phone Number" name="message-phone" />
                  </div>
                </div>
              </div>
              <div>
                <input type="email" placeholder="Email" name="message-email"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message" />
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d203020.38660477803!2d-122.06940146635127!3d37.33792645510964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e33d79376cafd%3A0xe71dafe9e590ee6!2sSilicon%20Valley%20Dental%20Care!5e0!3m2!1sen!2sin!4v1654777097517!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->
  {% endif %}


{% endblock %}